@import url("bootstrap.css");
@import url("bootstrap-theme.css");

/* Set mouse selection to a nice colour */
::selection {
	background: #b3d4fc;
}

/* Set global fonts */
* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    display: block;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.navbar {
    background-image: none;
    background-color: #333D47;
    border: none;
    min-height: 50px;
}

.img {
    background-repeat: no-repeat;
}


#logo {
    background-image: url(../images/anymal.png);
    background-size: contain;
    height: 50px;
}

#title {
    background-image: url(../images/logocar4.png);
    background-size: contain;
    background-position: center;
    height: 20%;
}

.showcase {
    height: 60%;
}

#Nexus {
    background-image: url(../images/Screens.png);
    background-size: contain;
    background-position: center;
    height: 80%;
    margin-bottom: 1%;
}

#GPlay {
    background-image: url(../images/google-play.893a21d9.svg);
    background-size: contain;
    background-position: center;
    height: 15%;
    vertical-align: middle;
}

@media (max-width: 480px) {
    #title {
        height: 25%;
    }

    .showcase {
        height: 60%;
    }

    #Nexus {
        max-height: 60%;
    }

    #GPlay {
        max-height: 15%;
    }

}

@media (min-width: 1200px) {
    .showcase {
        height: 65%;
    }
    
    #Nexus {
        height: 100%;
    }
    
    #GPlay {
        height: 100%;
    }
}

    
    



