@import url("bootstrap.css");
@import url("bootstrap-theme.css");

/* Set mouse selection to a nice colour */
::selection {
	background: #b3d4fc;
}

/* Set global fonts */
* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    display: block;
    padding-top: 50px;
}

.navbar {
    background-image: none;
    background-color: #333D47;
    border: none;
    min-height: 50px;
}

.img {
    background-repeat: no-repeat;
}


#logo {
    background-image: url(../images/anymal.png);
    background-size: contain;
    height: 50px;
}

#title {
    background-image: url(../images/logocar4.png);
    background-size: contain;
    background-position: center;
    height: 180px;
}

.showcase {
    height: 50%;
}

#Nexus {
    background-image: url(../images/Nexus.png);
    background-size: contain;
    background-position: center;
    height: 120%;
    align-content: center;
}

#GPlay {
    background-image: url(../images/google-play.893a21d9.svg);
    background-size: contain;
    background-position: center;
    height: 20%;
    vertical-align: middle;
}

@media (max-width: 480px) {
    #title {
        background-image: url(../images/logocar4.png);
        background-size: contain;
        background-position: center;
        height: 160px;
    }

    .showcase {
        height: 45%;
    }

    #Nexus {
        background-image: url(../images/Nexus.png);
        background-size: contain;
        background-position: center;
        height: 110%;
        align-content: center;
    }

    #GPlay {
        background-image: url(../images/google-play.893a21d9.svg);
        background-size: contain;
        background-position: center;
        height: 20%;
        vertical-align: middle;
    }

}
}

    
    



