@import url("bootstrap.css");
@import url("bootstrap-theme.css");

body {
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

#title {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#logo {
position: absolute;

}

#logo img{
height: auto;
width: 40%;

}

#title img {
height: 30%;
width: auto;

}

#bgimg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#bgimg img {

  height: 50%;
  width: auto;

}



#bgimg .googlePlay {

  height: 5%;
  width: auto;

}